.tiptap > * + * {
  margin-top: 0.75em;
}

tiptap ul,
ol {
  padding: 0 1rem;
}

.ProseMirror {
  outline: none;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
